<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner" style="background-color:darkstateblue">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
<form method="post">
 {% csrf_token %}
<input class="form-control form-control-lg" type="text" placeholder="Task name" name="name">
<input class="form-control" type="number" placeholder="Priority" name="priority">
    <input class="form-control" type="date" placeholder="date" name="date">
<input class="btn btn-success" type="submit">
</form>
</div>
<!--    </div>-->
<!--<div class="row">-->
    <div class="col-md-6">
    {% for obj in object %}
        <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{obj.name}}</h5>
        <p class="card-text">{{obj.priority}}</p>
            <p class="card-text">{{obj.date}}</p>
        </div>
        </div>
        <a class="btn btn-danger" href="{% url 'delete' obj.id%}">Delete</a>
        <a class="btn btn-warning" href="{% url 'update' obj.id%}">Update</a>
        {% endfor %}

    </div></div>
</body>
</html>