{% load static %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>login</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="" method="post">-->
<!--  {% csrf_token %}-->
<!--  <input type="text" name="username" placeholder="give username"><br>-->
<!--  <input type="text" name="password" placeholder="give password"><br>-->
<!--  <input type="submit">-->
<!--</form>-->
<!--{% for msg in messages %}-->
<!--{{msg}}-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html>
<head>
<title>Login Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Login Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					{% csrf_token %}
					<input type="text" name="username" placeholder="enter user name"><br>
					<input type="password" name="password" placeholder="enter password"><br>
                    <input type="submit" value="SIGNUP">
				</form>
                {% for msg in messages %}
                {{msg}}
                {% endfor %}


			</div>
		</div>
		<!-- copyright -->

		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>